@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&display=swap');

/* Global Styling Elements */
html, body {
  margin:0;
  padding:0;
}

html {
    height: 100%;
}

body {
    background-color: #3268BD;
    font-family: 'Comic Neue', cursive;
    min-height: 100%;
    position: relative;
    padding-bottom: 140px;
}

.container-max-width {
    max-width: 700px;
}

.bangers-font {
    font-family: 'Bangers', cursive;
}

.avengers-banner {
    height: 20vh;
    background: url("../images/avengers-logo-removebg.png") center center/contain no-repeat;
}

.banner-container {
    margin: 10px auto 10px auto;
    max-width: 430px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
}


/* Navbar Styling */
.navbar {
    box-shadow: 0 6px 6px -6px #000;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    width: 40px;
    height: 40px;
}

.navbar-colour {
    background-color: #e9ecef;
}


/* Footer Styling */
.footer-section {
    height: 120px;
    background-color: #e9ecef;
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
}

.footer-info {
    margin-top: 30px;
    font-weight: 700;
}

.site-designer {
    margin-bottom: 0;
    font-size: large;
}

.social-links a {
    color: rgba(0,0,0,.9);
    height: 20px;
    transition: color 0.35s ease-in-out;
}

.social-links a:hover {
    color: #3268BD;
}

/* Game Controls Styling */
.btn-warning {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
}

.row {
    padding-right: 0;
}

.text-box-spacing {
    padding: 0 0 0 4px;
}

.text-box {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: .25rem;
}


.p-left-0 {
    padding: .5rem .5rem .5rem 0;
}

.p-right-0 {
    padding: .5rem 0 .5rem .5rem;
}

/* Game Styling */

#game-panel {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    padding: 5px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
    justify-content: center;
    perspective: 1000px;
    min-height: 320px;
}

.memory-card {
    width: 100px;
    height: 140px;
    margin: 5px;
    position: relative;
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
    background-image: radial-gradient(circle, lightblue, darkblue);
    border: solid 2px #000;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
    transition: .8s;
}

.front-face,
.back-face {
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
    pointer-events: none;
}

.front-face {
    transform: rotateY(180deg);
}

.easyavenger1,
.easy2avenger1,
.mediumavenger1,
.medium2avenger1,
.hardavenger1,
.hard2avenger1 {
    background: url('../images/antman.svg') no-repeat center;
}

.easyavenger2,
.easy2avenger2,
.mediumavenger2,
.medium2avenger2,
.hardavenger2,
.hard2avenger2 {
    background: url('../images/captainamerica.svg') no-repeat center;
}

.easyavenger3,
.easy2avenger3,
.mediumavenger3,
.medium2avenger3,
.hardavenger3,
.hard2avenger3 {
    background: url('../images/daredevil.svg') no-repeat center;
}

.easyavenger4,
.easy2avenger4,
.mediumavenger4,
.medium2avenger4,
.hardavenger4,
.hard2avenger4 {
    background: url('../images/groot.svg') no-repeat center;
}

.easyavenger5,
.easy2avenger5,
.mediumavenger5,
.medium2avenger5,
.hardavenger5,
.hard2avenger5 {
    background: url('../images/hawkeye.svg') no-repeat center;
}

.easyavenger6,
.easy2avenger6,
.mediumavenger6,
.medium2avenger6,
.hardavenger6,
.hard2avenger6 {
    background: url('../images/ironman.svg') no-repeat center;
}

.easyavenger7,
.easy2avenger7,
.mediumavenger7,
.medium2avenger7,
.hardavenger7,
.hard2avenger7 {
    background: url('../images/spiderman.svg') no-repeat center;
}

.easyavenger8,
.easy2avenger8,
.mediumavenger8,
.medium2avenger8,
.hardavenger8,
.hard2avenger8 {
    background: url('../images/thanos.svg') no-repeat center;
}

.easyavenger9,
.easy2avenger9,
.mediumavenger9,
.medium2avenger9,
.hardavenger9,
.hard2avenger9 {
    background: url('../images/thor.svg') no-repeat center;
}

.easyavenger10,
.easy2avenger10,
.mediumavenger10,
.medium2avenger10,
.hardavenger10,
.hard2avenger10 {
    background: url('../images/wolverine.svg') no-repeat center;
}

.easyavenger11,
.easy2avenger11,
.mediumavenger11,
.medium2avenger11,
.hardavenger11,
.hard2avenger11 {
    background: url('../images/hulk.svg') no-repeat center;
}

.easyavenger12,
.easy2avenger12,
.mediumavenger12,
.medium2avenger12,
.hardavenger12,
.hard2avenger12 {
    background: url('../images/deadpool.png') no-repeat center;
    background-size: 100%;
}

.back-face {
    background: url('../images/Avengers.svg') no-repeat center;
    background-size: 75%;
}

/* Playing Card Styling */

/* Modal Styling */
.modal-content {
    background-image: radial-gradient(circle, lightcyan, darkcyan);
    font-weight: 600;
    border: solid 2px black;
}

.modal-title {
    font-size: 170%;
}

.modal-header,
.modal-footer {
    border: 0;
}

.btn-easy {
    background-image: radial-gradient(circle, lightgreen, darkgreen);
}

.btn-medium {
    background-image: radial-gradient(circle, lightyellow, darkorange);
}

.btn-hard {
    background-image: radial-gradient(circle, lightcoral, darkred);
}

/* Audio Modal */
.btn-primary {
    border: 1px solid black;
    background-image: radial-gradient(lightgreen, darkgreen);
    font-weight: 600;
    color: black;
}

.btn {
    border: 1px solid black;
}

.toggle-handle {
    border: 1px solid black;
    background-color: #fff;
}

.toggle-off {
    color:  black;
    background-image: radial-gradient(lightcoral, darkred);
    border: 1px solid black;
    font-weight: 600;
}

.volume-div {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

#volume-slider {
    margin-left: 5px;
}

#sound-label {
    margin-right: 5px;
}

/* Avengers Bio Page */

.text-box-lg {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: .25rem;
    min-height: 290px;
    margin-bottom: 10px;
    text-align: center;
}

.img-box {
    border: solid 2px #000;
    padding: 6px 12px;
    border-radius: .25rem;
    height: 290px;
    margin-bottom: 10px;
} 

.img-box-blue {
    background-image: radial-gradient(circle, lightblue, darkblue);
}

.img-box-grey {
    background-image: radial-gradient(circle, white, slategrey);
}

.img-box-red {
    background-image: radial-gradient(circle, white, darkred);
}

.img-box-green {
    background-image: radial-gradient(circle, white, darkgreen);
}

.img-box-brown {
    background-image: radial-gradient(circle, white, Sienna);
}

.img-box-purple {
    background-image: radial-gradient(circle, white, purple);
}

.avenger-captainamerica {
    background: url('../images/captain-america-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-antman {
    background: url('../images/ant-man-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-daredevil {
    background: url('../images/daredevil-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-deadpool {
    background: url('../images/deadpool-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-groot {
    background: url('../images/groot-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-hawkeye {
    background: url('../images/hawkeye-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-hulk {
    background: url('../images/hulk-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-ironman {
    background: url('../images/iron-man-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-spiderman {
    background: url('../images/spiderman-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-thanos {
    background: url('../images/thanos-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-thor {
    background: url('../images/thor-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}

.avenger-wolverine {
    background: url('../images/wolverine-bio.png') no-repeat center;
    background-size: cover;
    height: 100%;
}