@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&display=swap');

/* Global Styling Elements */
html, body {
  margin:0;
  padding:0;
}

html {
    height: 100%;
}

body {
    background-color: #3268BD;
    font-family: 'Comic Neue', cursive;
    min-height: 100%;
    position: relative;
    padding-bottom: 140px;
}

.avengers-banner {
    height: 20vh;
    background: url("../images/avengers-logo-removebg.png") center center/contain no-repeat;
}

.banner-container {
    margin: 10px auto 10px auto;
    max-width: 430px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
}


/* Navbar Styling */
.navbar {
    font-family: 'Bangers', cursive;
    box-shadow: 0 6px 6px -6px #000;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    width: 40px;
    height: 40px;
}

.navbar-colour {
    background-color: #e9ecef;
}


/* Footer Styling */
.footer-section {
    height: 120px;
    background-color: #e9ecef;
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
}

.footer-info {
    margin-top: 30px;
    font-weight: 700;
}


/* Game Controls Styling */
.btn-warning {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
}

.row {
    padding-right: 0;
}

.text-box-spacing {
    padding: 0 0 0 4px;
}

.text-box {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    border-radius: 0;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: .25rem;
}

.p-left-0 {
    padding: .5rem .5rem .5rem 0;
}

.p-right-0 {
    padding: .5rem 0 .5rem .5rem;
}

/* Game Styling */

.game-panel {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    padding: 5px;
    height: 640px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
}

.memory-card {
    width: calc(17% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
}
