@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Comic+Neue:wght@300;400;700&display=swap');

/* Global Styling Elements */
html, body {
  margin:0;
  padding:0;
}

html {
    height: 100%;
}

body {
    background-color: #3268BD;
    font-family: 'Comic Neue', cursive;
    min-height: 100%;
    position: relative;
    padding-bottom: 140px;
}

.container-max-width {
    max-width: 700px;
}

.bangers-font {
    font-family: 'Bangers', cursive;
}

.avengers-banner {
    height: 20vh;
    background: url("../images/avengers-logo-removebg.png") center center/contain no-repeat;
}

.banner-container {
    margin: 10px auto 10px auto;
    max-width: 430px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
}


/* Navbar Styling */
.navbar {
    box-shadow: 0 6px 6px -6px #000;
}
.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    width: 40px;
    height: 40px;
}

.navbar-colour {
    background-color: #e9ecef;
}


/* Footer Styling */
.footer-section {
    height: 120px;
    background-color: #e9ecef;
    position: absolute;
    left: 0 ; right: 0; bottom: 0;
}

.footer-info {
    margin-top: 30px;
    font-weight: 700;
}


/* Game Controls Styling */
.btn-warning {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
}

.row {
    padding-right: 0;
}

.text-box-spacing {
    padding: 0 0 0 4px;
}

.text-box {
    background-image: radial-gradient(circle, yellow, orange);
    border: solid 2px #000;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: .25rem;
}

.p-left-0 {
    padding: .5rem .5rem .5rem 0;
}

.p-right-0 {
    padding: .5rem 0 .5rem .5rem;
}

/* Game Styling */

#game-panel {
    flex-wrap: wrap;
    display: flex;
    margin: auto;
    padding: 5px;
    border: solid 2px #000;
    background-image: radial-gradient(circle, yellow, orange);
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
    justify-content: center;
    perspective: 1000px;
    min-height: 320px;
}

.memory-card {
    width: 100px;
    height: 140px;
    margin: 5px;
    position: relative;
    box-shadow: 0 6px 6px -6px #000;
    border-radius: .25rem;
    background-image: radial-gradient(circle, lightblue, darkblue);
    border: solid 2px #000;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .8s;
}

.memory-card:active {
    transform: scale(0.97);
    transition: .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
    transition: .8s;
}

.front-face,
.back-face {
    padding: 10px;
    position: absolute;
    backface-visibility: hidden;
    height: 100%;
    width: 100%;
}

.front-face {
    transform: rotateY(180deg);
}

.easyavenger1,
.mediumavenger1,
.hardavenger1 {
    background: url('../images/antman.svg') no-repeat center;
}

.easyavenger2,
.mediumavenger2,
.hardavenger2 {
    background: url('../images/captainamerica.svg') no-repeat center;
}

.easyavenger3,
.mediumavenger3,
.hardavenger3 {
    background: url('../images/daredevil.svg') no-repeat center;
}

.easyavenger4,
.mediumavenger4,
.hardavenger4 {
    background: url('../images/groot.svg') no-repeat center;
}

.easyavenger5,
.mediumavenger5,
.hardavenger5 {
    background: url('../images/hawkeye.svg') no-repeat center;
}

.easyavenger6,
.mediumavenger6,
.hardavenger6 {
    background: url('../images/ironman.svg') no-repeat center;
}

.easyavenger7,
.mediumavenger7,
.hardavenger7 {
    background: url('../images/spiderman.svg') no-repeat center;
}

.easyavenger8,
.mediumavenger8,
.hardavenger8 {
    background: url('../images/thanos.svg') no-repeat center;
}

.easyavenger9,
.mediumavenger9,
.hardavenger9 {
    background: url('../images/thor.svg') no-repeat center;
}

.easyavenger10,
.mediumavenger10,
.hardavenger10 {
    background: url('../images/wolverine.svg') no-repeat center;
}

.back-face {
    background: url('../images/Avengers.svg') no-repeat center;
    background-size: 75%;
}

/* Playing Card Styling */

/* Modal Styling */
.modal-content {
    background-image: radial-gradient(circle, lightcyan, darkcyan);
    font-weight: 600;
    border: solid 2px black;
}

.modal-title {
    font-size: 170%;
}

.modal-header,
.modal-footer {
    border: 0;
}

.btn-easy {
    background-image: radial-gradient(circle, lightgreen, darkgreen);
}

.btn-medium {
    background-image: radial-gradient(circle, lightyellow, darkorange);
}

.btn-hard {
    background-image: radial-gradient(circle, lightcoral, darkred);
}